name: docker-compose-actions-workflow
on:
  push:
    # Sequence of patterns matched against refs/tags
    tags:
      - 'v*' # Push events to matching v*, i.e. v1.0, v20.15.10
      - 'c*'

permissions:
    contents: write

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true
  
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: set permission and run
        run: |
          sudo chmod -R +x . && \
          mkdir -p dist && \
          ls && \
          docker compose up --build && docker compose down

      - name: Archive Release
        uses: thedoctor0/zip-release@master
        with:
          type: 'zip'
          directory: "dist"
          filename: "u-boot-${{ github.ref_name }}-arm-gnu-toolchain-15.2.rel1-x86_64-aarch64-none-linux-gnu.zip"
          
      - name: Release prebuilt
        uses: ncipollo/release-action@v1
        with:
          artifacts: "dist/u-boot-${{ github.ref_name }}-arm-gnu-toolchain-15.2.rel1-x86_64-aarch64-none-linux-gnu.zip"
          allowUpdates: true
          token: ${{ secrets.GITHUB_TOKEN }}


          
